<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CSVFieldDelimiter" value=","/>
    <add key="wsURIL" value="https://134.47.4.3:44302/ca-server/webservices/caclient/user-text-messaging"/>
    <add key="user" value="canal"/>
    <add key="pwd" value="Conax123"/>
    <add key="authHead" value="Authorization: Basic "/>
    <add key="CertSerial" value="03"/>
    <add key="SoapActionVerb" value="POST"/>
    <add key="authURL" value="http://134.47.4.3:8081/ca-server/webservices/client/authorization"/>
    <add key="NamespaceURI" value="http://schemas.xmlsoap.org/soap/envelope/"/>
    <add key="resNSTypeTag" value="xmlns"/>
    <add key="respNSType" value="http://www.conax.com/cas/xsd/common-types/v1"/>
    <add key="funcNSTag" value="ns2"/>
    <add key="funcNamespaceVal" value="http://www.conax.com/cas/xsd/user-text-messaging/v1"/>
    <add key="funcNamespace" value="SendBarkMessageToClients"/>
    <add key="funcName" value="SendBarkMessageToClientsRequest"/>
    <add key="envlope" value="http://schemas.xmlsoap.org/soap/envelope/"/>
    <add key="bodyxsd" value="http://www.w3.org/2001/XMLSchema"/>
    <add key="bodyxsi" value="http://www.w3.org/2001/XMLSchema-instance"/>
    <add key="SCIDSKey" value="CaClientIds"/>
    <add key="SCIDKey" value="CaClientId"/>
    <add key="MsgKey" value="Message"/>
    <add key="DurationKey" value="DisplayDurationInSeconds"/>
    <add key="DTKey" value="StartIndicationTime"/>
    <add key="SeqKey" value="SequenceNumber"/>
    <add key="logpath" value="d:\logs\wsconax.log"/>
    <add key="logging" value="1"/>
    <add key="MsgLength" value="74"/>
    <add key="DefaultSequenceNo" value="11"/>
    <add key="DefaultDelaySec" value="15"/>
    <add key="DurationSecs" value="10"/>
    <add key="ConaxSCLengthInCSV" value="12"/>
    <add key="ConaxSCLengthAccepted" value="11"/>
    <add key="MaxSTB" value="500"/>
    <!-- Error code section -->
    
    <add key="RetCodTag" value="StatusCode"/>
    <add key="SUCCESS" value="OK"/>
    <!--<add key="errCodes" value="INPUT_VALIDATION_ERROR;FEATURE_NOT_AVAILABLE;CLIENT_NOT_FOUND;CLIENT_NOT_MANAGED_BY_SMS;SYSTEM_ERROR"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
